body {
    font-family: sans-serif;
    font-size:14px;
    background-color:white;
    width:100%;
}
.HeadingLabel {
    background-color:teal;
    color:white;
    font-size:13px; 
    font-weight:bold;
    height:35px;
    width:100%;
    padding:6px 6px;
    margin-bottom:3px;
}
.textboxCss {
    height:35px;
    width:100%;
}
.btnStyle {
    padding:5px;
    background-color:#028e8e;
    color:white;
    font-weight:bold;
    width:150px;
    height:30px;
    border-radius:5px;
    border-color:none;
}
/* Set background color for odd rows */
 /*#<%= GridView1.ClientID % > tbody tr:nth-child(odd) {
    background-color:lightgreen;*/ /* Light gray color for odd rows */
 /*}*/

/* Set background color for even rows */
/*#<%= GridView1.ClientID % > tbody tr:nth-child(even) {
    background-color: #ffffff;*/ /* White color for even rows */
/*}*/
.even-row {
    background-color: lightblue;  
}

.odd-row {
    background-color: #ffffff; 
}

/*.table-stripped tbody tr:nth-child(odd)
{
    background-color:lightblue;
}

.table-stripped tbody tr:nth-child(even) 
{
    background-color:white;
}
*/
/*.alternate-row
{
    background-color: #77aac6;*/
    /* Light blue color */
/*}

.alternate-row:nth-child(2n) {
    background-color: #ffffff;*/ /* White color */
/*}*/


