body {
    font-family: sans-serif;
    font-size:14px;
    background-color:white;
    width:100%;
}
.HeadingLabel {
    background-color:teal;
    color:white;
    font-size:13px; 
    font-weight:bold;
    height:35px;
    width:100%;
    padding:6px 6px;
    margin-bottom:3px;
}
.textboxCss {
    height:35px;
    width:100%;
}
.btnStyle {
    padding:5px;
    background-color:#028e8e;
    color:white;
    font-weight:bold;
    width:100px;
    height:30px;
    border-radius:5px;
    border-color:none;
}

.alternate-row
{
    background-color: #84e2f8; /* Light blue color */
}

.alternate-row:nth-child(2n) {
    background-color: #ffffff; /* White color */
}


